@model List<Cart>

@if (Model.Count != 0)
{
    <div class="row">
        <div class=" col-2">

        </div>
        <div class=" col-8">
            <div><b>Day Created: </b>@Model[0].CreatedDate.ToString()</div>
            <div><b>CodeUser: </b>@Model[0].CodeUser</div>
            <div><b>FullName :</b>@($"{Model[0].Firstname} {Model[0].MiddleName} {Model[0].LastName}")</div>
            @*<div><b>Name: </b>@Model[0].LastName</div>*@
            <div><b>Phone: </b>@Model[0].Phone</div>
            <div><b>Address: </b>@Model[0].Address</div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ProductAlternateKey</th>
                        <th>Product SubcategoryName</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>costs (per product)</th>
                        <th>Total Price</th>
                        <th>Change Quantity</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                @{ decimal total = 0;}
                @foreach (Cart item in Model)
                {
                    total += item.Quantity * item.Price.Value;
            <tr>
                <td>@item.ProductAlternateKey</td>
                <td>@item.ProductSubcategoryName</td>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>


                <td>@item.Price.Value</td>
                <td>@(item.Price.Value*item.Quantity)</td>
                <td>
                    <input type="number" v="@item.ProductKey" name="qty" value="@item.Quantity" min="1" max="100" />
                </td>
                <td>
                    <a class="d" href="/cart/delete/@item.ProductKey"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
                }
                <tfoot>
                    <tr>
                        <td colspan="5"><b>Total Price</b></td>
                        <td><b>@total</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class=" col-2">
        </div>
    </div>
    <script>
        $('.d').click(function () {
            return confirm("Are You sure delete?");
        });
        $('input[name="qty"]').click(function () {
            // console.log($(this).attr('v'));
            var obj = { ProductKey: $(this).attr('v'), quantity: $(this).val() };
            $.post('/cart/edit', obj, function (ret) {

                //console.log(ret);
                window.location.reload();
            });
        });
    </script>
}
